.shopTitle {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 250px;
    height: 300px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .product img {
    width: auto;
    max-height: 150px;
    object-fit: contain;
    object-position: center;
  }
  
  .product .description {
    text-align: center;
    flex-grow: 1; 
    margin: 0;
  }
  
  .product .description .price{
    margin: 0;
  }

  .product .description .name{
    margin: 0;
  }

  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  .favoriteBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .favoriteBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }