.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .links {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  
  .links .shop {
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .user {
    margin-right: 10px;
    float: left;
    color: white;
  }

  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
  }

  .ReactModal__Overlay {
    /* Style for the modal overlay */
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ReactModal__Content {
    /* Style for the modal content */
    width: 400px;
    height: 200px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #fff;
  }
